@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap'); // 'Berkshire Swash', cursive;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); // 'Lobster', cursive;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

svg {
    // for icons: react-icons, ...
    display: inline-block;
}

button,
input,
[tabIndex] {
    outline: none;
    border: none;
}
